# Configurações do Banco de Dados (PostgreSQL)
# Para uso dentro do Docker, use o nome do serviço: postgres:5432
# Para uso local (DBeaver/Prisma CLI), use: localhost:5432
DATABASE_URL="postgresql://postgres:password@postgres:5432/leads_db?schema=public"

# Configurações do RabbitMQ
RABBITMQ_URL="amqp://rabbitmq:5672"

# URL da Mock API de Enriquecimento
MOCK_API_URL="http://mock-api:4000"

# URL do Ollama (IA Local)
OLLAMA_URL="http://ollama:11434"
